*.iml
.gradle/
/local.properties
/.idea
.DS_Store
out/
/build/
compiler-plugin/build/
core/build/
example/build/
gradle-plugin/build/
sharedBuildSrc/build/
/captures
/local
*.orig
/projectFilesBackup*
/reports
/private_tools
